@import url("./styles/header.css");
@import url("./styles/reset.css");
@import url("./styles/banner.css");
@import url("./styles/carrossel.css");
@import url("./styles/topicos.css");
@import url("./styles/contato.css");
@import url("./styles/footer.css");

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #ffffff;
    --laranja: #EB9800;
    --azul-degrade: rgb(12, 60, 96);
    --fonte-principal: 'Poppins', sans-serif;
    --azul-escuro: #002F52;
    --fonte-secundaria: 'Josefin Sans', sans-serif;
    --preto: #000000;
}


body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-de-fundo);
    font-size: 16px;
    font-weight: 400;
}

h1 {
    background-color: var(--branco);
}